*{box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}
header {
	width: 1600px;
	height: 1000px;
	background: url(../img/header.jpg);
	margin:0 auto;
}
.container {
	width: 1100px;
	margin:0 auto;
}
.logo {
	color:#fff;
	font-size: 50px;
	font-family: 'Damion', cursive;
	text-decoration: none;
}
nav {
	display: inline-block;
	margin-left: 370px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
}
nav a {
	text-decoration: none;
	display: block;
	padding:40px 27px 17px;
	font-size: 18px;
	color:#fff;
	border-radius:0 0 5px 5px;
}
nav a:hover {
	background: #74c7d5;
}
.slogan {
	padding:30px 40px;
	background: rgba(255,255,255,0.3);
	width: 930px;
	margin:330px auto 0;
}
.left {
	display: inline-block;
	width: 390px;
	color:#74c7d5;
	font-size: 60px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: right;
}
.right {
	font-weight: 900;
	color:#74c7d5;
	font-size: 138px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
}
.services {
	width: 1600px;
	height: 1000px;
	margin:0 auto;
	text-align: center;
	background: url(../img/services.jpg);
}
.services nav a:hover {
	background: #df5c64;
}
.services h2 {
	font-size: 60px;
	color:#fff;
	font-weight: 300;
	text-transform: uppercase;
	margin:50px 0;
}
.services h6 {
	text-transform: uppercase;
	font-size: 20px;
	color:#fff;
	margin: 0;
	font-weight: normal;
}
.services h6 span {
	color:#ec9da2;
	font-weight: 300;
}
.services > p {
	font-size: 14px;
	color:#ffcccf;
	line-height: 24px;
	width: 1100px;
	margin:15px auto;
}
.container-services {
	width: 1100px;
	margin:100px auto 0;
	text-align: center;
}
.serv-item {
	width: 260px;
	height: 400px;
	background: #c45158;
	border-radius: 4px;
	padding:40px 24px;
	box-sizing: border-box;
	display: inline-block;
	margin:0 5px;
}
.krug {
	width: 130px;
	height: 130px;
	border:5px solid #fff;
	border-radius: 50%;
	margin:0 auto;
}
.krug i {
	display: block;
	width: 120px;
	height: 120px;
	background: #fff;
	border-radius:50%;
	margin:5px auto;
	font-size: 70px;
	color:#c45158;
	line-height: 120px;
}
.serv-item h4 {
	font-weight: 300;
	font-size: 30px;
	color:#fff;
	margin: 25px 0;
	text-transform: uppercase;
}
.serv-item p {
	font-size: 14px;
	color:#fff;
	line-height: 20px;
}
.about {
	width: 1600px;
	height: 985px;
	margin:0 auto;
	text-align: center;
	background: url(../img/about.jpg);
}
.about h2 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 300;
	color:#fff;
	margin:50px 0;
}
.about p {
	font-size: 14px;
	color:#e5d1e3;
	line-height: 24px;
	width: 1100px;
	margin:0 auto;
}
.meet-btn {
	width: 276px;
	height: 50px;
	text-transform: uppercase;
	background: #a1ca6c;
	border-radius: 5px;
	margin:50px auto;
	color:#fff;
	font-weight: 900;
	font-size: 25px;
	line-height: 50px;
}
.meet-btn:after {
	content:"";
	width: 0;
	height: 0;
	border-top: 15px solid #a1ca6c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	display: block;
	margin:0 auto;
}
.user {
	display: inline-block;
	width: 260px;
	height: 380px;
	background: rgba(83,68,81,0.5);
	text-align: center;
	margin:0 5px;
	border-radius:5px;
}
.user:hover {
	background: rgba(83,68,81,1);
}
.user > i {
	display: block;
	width: 154px;
	height: 154px;
	background: #fff;
	border:4px solid #a1859e;
	color:#5b4b59;
	font-size: 150px;
	border-radius: 50%;
	margin:45px auto 25px;
	overflow: hidden;
}
.user:hover > i {
	color:#df5c64;
	border-color:#df5c64;
}
.user h6 {
	font-size: 25px;
	font-weight: 900;
	color:#c7b6c5;
	margin: 0;
	text-transform: uppercase;
}
.user:hover h6 {
	color:#fff;
}
.prof {
	font-size: 14px;
	color:#a1ca6c;
	margin:13px 0 40px;
}
.user:hover .prof {
	color:#ff8973;
}
.user a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-decoration: none;
	border-radius:50%;
	background: #a1859e;
	color:#fff;
	font-size: 18px;
	line-height: 30px;
	margin:0 10px;	
}
.user:hover a:nth-last-child(1) {
	background: #3e61af;
}
.user:hover a:nth-last-child(2) {
	background: #df5c64;
}
.user:hover a:nth-last-child(3) {
	background: #74c7d5;
}
.user:hover a:nth-last-child(4) {
	background: #4f689e;
}

.work {
	width: 1600px;
	height: 1149px;
	margin:0 auto;
	text-align: center;
	background: url(../img/work.jpg);
}
.work nav a:hover {
	background: #a1ca6c;
}
.work h2 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 300;
	color:#fff;
	margin:50px 0;
}
.work p {
	font-size: 14px;
	color:#fff;
	line-height: 24px;
	width: 1100px;
	margin:0 auto;
}
.work-container {
	width:1200px;
	margin:50px auto;
	text-align: center;
}
.work-container a {
	display: inline-block;
	width: 260px;
	height: 250px;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	margin:15px;
}
.work-container a p {
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	background: #eee;
	font-size: 14px;
	color:#727272;
	position: absolute;
	bottom:0;
	line-height: 50px;
}
.plus {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border:2px solid #fff;
	color:#fff;
	font-size: 50px;
	position: absolute;
	top:-100px;
	left:100px;
	text-align: center;
	line-height: 50px;
	transition: 0.5s;
}
.work-container a:hover .plus {
	top:75px;
}
.work-container a img {
	transition: 0.5s;
}
.work-container a:hover img {
	filter:blur(10px); /*размытие*/
	filter:grayscale(100%); /*черно-белое*/
}
.contact {
	width: 1600px;
	height: 1018px;
	margin:0 auto;
	text-align: center;
	background: url(../img/contact.jpg);
}
.contact h2 {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 300;
	color:#fff;
	margin:50px 0;
}
.contact > p {
	font-size: 14px;
	color:#fff;
	line-height: 24px;
	width: 1100px;
	margin:0 auto;
}
.contact nav a:hover {
	background: #82c8bd;
} 
.address {
	width: 240px;
	display: inline-block;
	color:#fff;
	text-align: left;
	margin-top: 100px;
	vertical-align: top;
}
iframe {
	display: inline-block;
	margin-top: 150px;
}
.contact form {
	display: inline-block;
	width: 540px;
	margin-top: 100px;
	vertical-align: top;
	text-align: left;
	margin-left: 40px;
}
.address h6{
	margin:0 0 20px;
	font-size: 30px;
	font-weight: 300;
}
.contact form h6 {
	margin:0 0 20px;
	font-size: 30px;
	font-weight: 300;
	color:#fff;
}
.contact form input {
	width: 260px;
	height: 40px;
	border-radius:4px;
	background: #68a097;
	border:none;
	padding-left: 10px;
	box-sizing: border-box;
	outline:none;
}
.contact form input:focus {
	background: #fff;
}
.contact form textarea {
	width: 523px;
	height: 160px;
	border-radius:4px;
	background: #68a097;
	border:none;
	padding: 10px;
	box-sizing: border-box;
	outline:none;
	margin-top: 20px;
}
.contact form textarea:focus {
	background: #fff;
}
.contact form button {
	width: 260px;
	height: 45px;
	border-radius:5px;
	outline:none;
	border:none;
	margin-top: 20px;
	color:#fff;
	text-transform: uppercase;
	background: #df5c64;
	border-bottom:2px solid #c8535a;
	cursor:pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}